app:
  debug: true

api:
  port: ":8070"
  readTimeout: 5000
  writeTimeout: 5000

etcd:
  endpoints: "http://192.168.56.23:2379"
  dialTimeout: 5000

mongo:
  addr: "192.168.56.23:27017"
  timeout: 5
  database: "cron"
  collection: "log"