app:
  debug: true


web:
  port: ":8070"
  readTimeout: 5000
  writeTimeout: 5000
  staticFilename: "/home/dev/crontab/web/static/views/index.tpl"

etcd:
  endpoints: "http://192.168.56.25:2379"
  dialTimeout: 5000

worker:
  serverIP: "123456"

mongo:
  addr: "192.168.56.25:27017"
  timeout: 5
  database: "cron"
  collection: "log"
